<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Time</title>
</head>
<body>
<h1>Current Time</h1>
<p><span th:text="${currentTime}"></span></p>
<form method="get" action="">
    <label for="timezone">Timezone:</label>
    <select id="timezone" name="timezone">
        <option th:each="zone : ${timezones}" th:value="${zone}" th:text="${zone}" th:selected="${zone == currentTimezone}"></option>
    </select>
    <input type="submit" value="Update">
</form>
</body>
</html>